apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: qc-monolith-servicemonitor
  labels:
    release: prometheus
spec:
  selector:
    matchLabels:
      app: qc-monolith
  endpoints:
    - port: http
      path: /metrics
      interval: 15s
      scrapeTimeout: 10s
