version: '3.8'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: qc_user
      POSTGRES_PASSWORD: qc_pass
      POSTGRES_DB: qc_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
  minio:
    image: minio/minio
    command: server /data
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000"
    volumes:
      - miniodata:/data
  redis:
    image: redis:7
    ports:
      - "6379:6379"
    command: ["redis-server", "--save", "60", "1", "--loglevel", "warning"]
volumes:
  pgdata:
  miniodata:
